nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: rgba(#cfcfcf, 0.5);

        i {
            color: darken(#2a2c2e, 0.2);
        }
    }

    i {
        color: rgba(#2a2c2e, 0.55);
        font-size: 20px;
    }

    span {
        margin-top: 2px;
        font-weight: bold;
        font-size: 13px;
        color: rgba(#2a2c2e, 0.8);
    }
}

@media only screen and (min-width : 1080px) {
    nav {
        top: 0;
        background: transparent;
        box-shadow: none;
        margin-left: auto;
        justify-content: flex-end;
    }

    .nav-link {
        max-width: 180px;

        &:hover {
            background-color: rgba(0, 0, 0, 0);
        }

        i {
            display: none;
        }

        span {
            color: rgba(#ffffff, 0.85);
            text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
            font-size: 15px;
        }
    }
}

