$logo-font: "Montserrat", sans-serif;
$logo-color: #f0f0f0;

$bg-color: #09253a;
$accent-color: #193b57;

html {
    background-color: $bg-color;
    font-family: "Montserrat", sans-serif;
    max-width: 100vw;
}

body {
    width: 100%;
    margin: 0 0 55px 0; // Accomodates for nav
}

header {
    color: $logo-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        font-size: 6.5em;
        font-family: $logo-font;
        margin: 35px auto 15px auto;
    }

    .title {
        font-size: 3em;
        margin: 5px auto;
    }

    .services ul li {
        display: inline-block;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        padding: 3px 25px;
        text-align: center;
        border-right: 1px solid $accent-color;
        text-transform: uppercase;
        color: #2d83c9;

        &:last-child {
            border-right: none;
        }
    }
}